{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <script src="https://kit.fontawesome.com/26719dd53c.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>

<body>
    <div class="container">
        <div class="scroll-up-btn">
            <i class="fas fa-angle-up"></i>
        </div>
        <nav class="navbar">
            <div class="max-width">
                <div class="logo">
                    <a href="{% url 'Home Page' %}">CARIFY</a>
                </div>
                <ul class="menu">
                    <li>
                        {% if request.user.is_authenticated %}
                        <a id="abt" href="{% url 'Home Page' %}" class="menu-btn">Home</a>
                        {% else %}
                        <a id="abt" href="{% url 'Landing' %}" class="menu-btn">Home</a>
                        {% endif %}
                    </li>
                    <li><a id="first" href="{% url 'About' %}" class="menu-btn active">About Us</a></li>
                    <li><a href="{% url 'Contact' %}" class="menu-btn">Contact Us</a></li>
                    <li>
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'Logout' %}" class="menu-btn">Logout</a>
                        {% else %}
                        <a href="{% url 'Login' %}" class="menu-btn">Login</a>
                        {% endif %}
                    </li>
                </ul>
                <div class="menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>

        <section class="main">
            <div class="max-width">
                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_asjtnqce.json"  background="transparent"  speed="1" style="height: 400px;" loop  autoplay></lottie-player>
                <div class="home-content">
                    <h2>
                        <strong>Carify</strong>, the Car Showroom Management System is a platform that provides an easy-to-use interface for users and the administrators of the car showroom. This platform will help users buy their dream car, rent a car for a trip and sell their old car for a new one. Users will be required to enter a valid username and password after registering themselves, to avail the services of the platform. This platform helps users buy, rent and sell cars from anywhere, anytime, thus saving a lot of time and effort.
                    </h2>
                    <br>
                    <h2>
                        A user that wishes to use the platform is made to create an account by providing a valid username, email ID and password. The user is then led to the home page where he is provided with options to buy, rent or sell a car. If the user intends to buy a car, he is shown a plethora of cars of the most popular brands. The user can then choose the car of their dreams and move ahead to book it by providing the required details. A user wanting to rent a car is provided with a wide range of cars among which the user can book a car of their convenience. To sell a car, the user is asked to enter the required details and make a sell request. The administrator of the car showroom is responsible to add new cars, modify and delete car details, manage buy, rent and sell requests and also answer the queries that come from the platform.
                    </h2>
                    <br>
                    <h2>
                        Hence, Carify provides an interactive, easy to use, user-friendly environment to the users and the administrators of the car showroom. It saves time and energy and provides an effective way for users to buy, rent and sell cars and car showroom admins to keep track of  user requests and details of users and cars. 
                    </h2>
                </div>
            </div>
        </section>

        <footer>
            <span>Design By <a href="https://www.linkedin.com/in/swastik-raj-singh-80ba881b8/">Swastik - Subhassini</a>
                | <span class="far fa-copyright"></span> 2022 All rights
                reserved.</span>
        </footer>
    </div>
    <script src="{% static '/js/script.js' %}"></script>
  </body>
</html>